body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.item-caption
{
  bottom: 10px;
    left: 10%;
    background-color: rgb(33, 160, 202);
    padding: 5px 15px;
    width: 80%;
}
.layer
{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.layer i {
    cursor: pointer;
}
.layer-item
{
    width: 45%;
    height: 500px;
    background-image:url("../images/portfolio-1.jpg") ;
    background-size: 100% 100%; 
}
.layer-item .close
{
    top: 5px;
    right: 5px;
}
.items img {
    width: 400px;
    height: 300px;
    cursor: pointer;
}